body {
  position: relative;
  padding: 10px;
  margin: 10px;    
  background: linear-gradient(90deg, white 60%, black 40%);
}

.low-usage {
  background: linear-gradient(rgb(181, 217, 252), rgb(115, 187, 255), rgb(84, 143, 252), blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
.medium-usage {
color: black;
}

.high-usage {
  background: linear-gradient( yellow,  orange , red );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vert-degrees {
  color: #ffffff;
  position: absolute;
  flex-direction: column;
  right: 9vw;
  /* height: 100%; */
  /* width: 40%; */
  text-align: center;
  margin-top: -40vh;
  /* right: 12vw; */
  transform: rotate(90deg);
  font-family: sans-serif;
  font-size: 180px;
}

.cur-form {
  margin-top: 4vh;
  flex-direction: row;
  background-color: white;
  width: 60%;
  text-align: center;
}
.city {
  border: none;
  background-color: white;
  font-family: 'palantino', 'Times New Roman', Times, serif;
  font-size: 30px;
}

#current-city {
  padding-left: 4vw;
  background-color: white;
  font-size: 30px;
}
#country {
  font-size: 30px;
}

#degree {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}
.cur-temp {
position: relative;
padding-left: 3rem;
font-size: 40px;
font-family: 'Times New Roman', Times, serif;
}

.top-linered {
  margin-top: 6vh;
  flex-direction: row;
  width: 59%;
  align-self: center;
  height: 40px;
  background-color: red;
}

.top-lineblack {
  margin-top: 4vh;
  flex-direction: row;
  width: 59%;
  align-self: center;
  height: 15px;
  background-color: black;
}

#temp-title {
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-style: italic;
  width: 60%;
  text-align: center;
}

#temperature  {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: bold;
  padding-left: 5vw;
  font-size: 150px;
  vertical-align: -3vh;
}

#degree2 {
  font-size: 150px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  vertical-align: -1.5vh;
}
#temp-up, #temp-down, #temp-reset {
  border: none;
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 35px;
  font-weight: bold;
  color: darkred;
  /* width: 60%;  */
  display: inline;
  /* flex-direction: row; */
  text-align: center;
  border: none;
  outline: none;
}
#temp-up {
  margin-left: 38vw;
  border: none;
  outline: none;
}
#temp-up:hover, #temp-down:hover {
    font-style: bold;
    font-size: 35px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
#temp-reset:hover {
  font-style: bold;
  font-size: 35px;
  background-color: aqua;
  color: white;
  border: none;
  outline: none;
}

.top-linered2 {
  margin-top: 6vh;
  flex-direction: row;
  width: 38%;
  align-self: center;
  height: 40px;
  background-color: red;
}

.top-lineblack2 {
  margin-top: 4vh;
  flex-direction: row;
  width: 38%;
  align-self: center;
  height: 15px;
  background-color: black;
}

#PSM {
  font-family: "phosphate";

  font-size: 40px;
  z-index: -5;
  flex-direction: row;
  margin-top: -10vh;
  width: 59.2%;
  text-align: right;
  color: white;
  font-weight: lighter;
  -webkit-text-stroke: 1.2px black;
}

#PSM-on, #PSM-off {
  border: none;
  background-color: white;
  white-space: nowrap;
  text-align: center;
  font-family: Times New Roman;
  font-style: italic;
  font-weight: normal;
  font-size: 40px;
  color: rgba(0,0,0,1);
  margin-left: 42vw;
  border: none;
  outline: none;
}
#PSM-off {
  margin-left: 5vw;
  border: none;
  outline: none;
}
#PSM-status {
  font-size: 60px;
}
#PSM-off:hover {
  background: linear-gradient(rgb(181, 217, 252), rgb(115, 187, 255), rgb(84, 143, 252), blue);
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(60, 60, 60);
  border: none;
  outline: none;
}

#PSM-on:hover {
  background: linear-gradient( yellow,  orange , red );
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px rgb(60, 60, 60);
  border: none;
  outline: none;
}

footer {
  width: 60%;
  text-align: center;
  margin-top: 17vh;
  outline-width: 2rem;
}

footer:hover {
color: red;
}

