body {
  
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, white 60%, black 40%);
}


.low-usage {
    color: green;
  }
  
  .medium-usage {
    color: black;
  }
  
  .high-usage {
    color: red;
  }

